<h1>Project: Private Events</h1>
<% if current_user %>
  <p>Welcome, back <%= current_user.email %>!</p>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
  <br>
  <%= button_to "Create new event", new_event_path, method: :get %>
<% else %>
  <p>Welcome, visitor!</p>
  <%= link_to "Sign In", new_user_session_path, method: :get %>
  |
  <%= link_to "Sign Up", new_user_registration_path, method: :get %>
<% end %>

<h2>Upcoming Events</h2>
<div id="upcoming_events">
  <% Event.upcoming.each do |e|  %>
    <h4>Title: <%= e.title %></h4>
      <p>Description: <%= e.description %> </p>
      <p>Location: <%= e.location %></p>
      <p>Date: <%= e.date %></p>
  <%end%>
</div>

<h2>Past Events</h2>
<div id="past_events">
  <% Event.past.each do |e|  %>
    <h4>Title: <%= e.title %></h4>
      <p>Description: <%= e.description %> </p>
      <p>Location: <%= e.location %></p>
      <p>Date: <%= e.date %></p>
  <%end%>
</div>
